body{    

    background: url('https://st2.depositphotos.com/1106005/8296/i/600/depositphotos_82967932-stock-photo-blue-and-white-dog-paw.jpg');
    background-size: cover;    
    background-position: center;


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    padding: 20px;  
    color: rgb(49, 82, 110);      
}
header h1{
    font-weight: bold;
    text-align: center;
    font-size: 40px
}
header p{
    text-align: justify;
}
#menu {
    padding: 15px;
    background-color:rgb(49, 82, 110);
}
#menu a{
    text-decoration: none;
    padding: 15px 80px;
    background-color:rgb(49, 82, 110);
    color: white;
}
#menu a:hover{
    background-color: aquamarine;
    pointer-events: all;
}
.caja{
    background-color: rgb(49, 82, 110); 
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 500px;
}
.input{
    color:rgb(49, 82, 110);     
    border: none;
    border-radius: 5px;
    height: 25px;
}
.label{
    display: inline-block;
    width: 120px;
}
.submit{
    padding: 7px;
    height: auto;
    width: 120px;
    background-color: white;
    color:rgb(49, 82, 110); 
    border-radius: 20px;
    float: right;
    
}
.video{
    display: inline-block;
    margin-left: 15px;
}
